.navbar-custom {
    background-color:#3333CC;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#eeeeee;
    padding-left:20px;
    padding-right:20px;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #eeeeee;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #5c5cd6;
    color:#eeeeee;
}

.navbar-custom .navbar-brand {
    color:#e6f2ff;
    font-weight: bold;
    font-size: x-large;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#8585e0;
    color:#eeeeee;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #8585e0;
    border-color: #337ab7;
    color:#eeeeee;
}
.navbar-custom .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #ffe5ff;
    background-color: #8585e0;
}

body {
  padding-top: 60px;
}

.text-danger {
    color: Red;
    font-weight: bold ;
}

.text-success {
    color: Green;
    font-weight: bold ;
}

.text-active {
    font-weight: normal;
    font-style: normal;
}

.text-inactive {
    color: #989898;
    font-style: italic;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.table caption {
    padding-bottom: 1px;
    color: #333;
    font-weight: bold;
}
