<script src="/js/spin.min.js"></script>
<script src="/js/ladda.min.js"></script>
<script>
  $(document).ready(function ()  {
      $('form').submit(function(e) {
        var l = Ladda.create(document.querySelector('.btn-primary'));
	 	    l.start();
      });
  });
</script>
