<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="refresh" content="30">
  {{template "_head.gohtml" .Title}}
</head>
<body role="document">
  {{template "_nav.gohtml" .Nav}}
  <div class="container theme-showcase" role="main">
    <div class="jumbotron">
      <h1>Monitor Your Websites</h1>
      <p>Go Ping Sites is intended to allow you to set up monitoring of your websites and will notify you via text and/or email when your site goes down or is back up again.</p>
    </div>
  </div> <!-- /container -->
  {{template "_footer.gohtml"}}
</body>
</html>
