<!DOCTYPE html>
<html lang="en">
<head>
  {{template "_head.gohtml" .Title}}
</head>
<body role="document">
  {{template "_nav.gohtml" .Nav}}
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>Settings - Contacts</h1>
        <div class="table-responsive">
        <table class="table table-striped">
          <caption>Contacts</caption>
          <thead>
            <tr>
              <th class="col-md-1"><a href="/settings/contacts/new" title="Add Contact"><span class="glyphicon glyphicon-plus"></span></a></th>
              <th class="col-md-2">Name</th>
              <th class="col-md-1 text-center">Email<br />Active?</th>
              <th class="col-md-3">Email</th>
              <th class="col-md-1 text-center">Text<br />Active?</th>
              <th class="col-md-2">Text Number</th>
              <th class="col-md-1 text-center">#<br />Sites</th>
            </tr>
          </thead>
          <tbody>
            {{range .Contacts}}
              <tr>
                <td><a href="/settings/contacts/{{.ContactID}}/edit" title="Edit Contact"><span class="glyphicon glyphicon-edit"></span></a>
                &nbsp;&nbsp;<a href="/settings/contacts/{{.ContactID}}/delete" title="Delete Contact"><span class="glyphicon glyphicon-remove"></span><a></td></td>
                <td>{{.Name}}</td>
                <td class="text-center">{{.EmailActive | displayBool}}</td>
                <td>{{.EmailAddress}}</td>
                <td class="text-center">{{.SmsActive | displayBool}}</td>
                <td>{{.SmsNumber}}</td>
                <td class="text-center">{{.SiteCount}}</td>
              </tr>
            {{end}}
          </tbody>
        </table>
        </div>
        <p><a href="/settings" title="Back to Sites List"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back</a></p>
      </div>
    </div>
  </div>
  {{template "_footer.gohtml"}}
</body>
</html>
