<!DOCTYPE html>
<html lang="en">
{{template "_head.html"}}
    <body role="document">
{{template "_nav.html"}}
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>Monitored Sites Status</h1>
        <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="col-md-4">Website</th>
              <th class="col-md-2">Status</th>
              <th class="col-md-6">How Long?</th>
            </tr>
          </thead>
          <tbody>
            <tr class="success">
              <td>Example Home Website to Test</td>
              <td class="text-success">Up</td>
              <td>22 days</td>
            </tr>
            <tr class="danger">
              <td>Example Forum</td>
              <td class="text-danger">Down</td>
              <td>3 hours</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.11.3.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
