<!DOCTYPE html>
<html lang="en">
<head>
  {{template "_head.gohtml" .Title}}
  <style type="text/css">.error {color: red;}</style>
</head>
<body role="document">
  {{template "_nav.gohtml" .Nav}}
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-3">
        <h1>Edit Your Profile</h1>
        <form action="" method="post" id="edit_user">
          <div class="form-group">
            <label for="username">Username</label>
            <p>{{.User.Username}}</p>
            {{ with .Errors.Username }}
              <div class="error">{{ . }}</div>
            {{ end }}
          </div>
          <div class="form-group">
            <label for="password">Password (leave blank for no change)</label>
            <input type="password" class="form-control" name="password" id="password">
            {{ with .Errors.Password }}
              <div class="error">{{ . }}</div>
            {{ end }}
          </div>
          <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" class="form-control" name="email" id="email" value="{{.User.Email}}">
            {{ with .Errors.Email }}
              <div class="error">{{ . }}</div>
            {{ end }}
          </div>
          <button type="submit" class="btn btn-primary ladda-button" data-style="expand-left"><span class="ladda-label">Submit Changes</span></button>
        </form>
      </div>
    </div>
  </div>
  {{template "_footer_submit.gohtml"}}
  {{template "_footer.gohtml"}}
</body>
</html>
