<!DOCTYPE html>
<html lang="en">
<head>
  {{template "_head.gohtml" .Title}}
</head>
<body role="document">
  {{template "_nav.gohtml" .Nav}}
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>Settings</h1>
        <p>&nbsp;<a href="/settings/users" title="Users"><span class="glyphicon glyphicon-user"></span>&nbsp;Users</a>
        &nbsp;&nbsp; <a href="/settings/contacts" title="Contacts"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Contacts</a></p>
        <div class="table-responsive">
        <table class="table table-striped">
          <caption>Sites</caption>
          <thead>
            <tr>
              <th class="col-md-1"><a href="/settings/sites/new" title="Add Site"><span class="glyphicon glyphicon-plus"></span></a></th>
              <th class="col-md-2">Name</th>
              <th class="col-md-1 text-center">Active?</th>
              <th class="col-md-3" >URL</th>
              <th class="col-md-2 text-center">Ping Rate<br />(s)</th>
              <th class="col-md-2 text-center">Timeout<br />(s)</th>
              <th class="col-md-1 text-center">#<br />Contacts</th>
            </tr>
          </thead>
          <tbody>
            {{range .Sites}}
              <tr {{.IsActive | displayActiveClass}}>
                <td><a href="/settings/sites/{{.SiteID}}" title="Site Details"><span class="glyphicon glyphicon-info-sign"></span></a>&nbsp;&nbsp;<a href="/settings/sites/{{.SiteID}}/edit" title="Edit Site"><span class="glyphicon glyphicon-edit"></span></a></td>
                <td>{{.Name}}</td>
                <td class="text-center">{{.IsActive | displayBool}}</td>
                <td><a href="{{.URL}}" target="_blank">{{.URL}}<a/></td>
                <td class="text-center">{{.PingIntervalSeconds}}</td>
                <td class="text-center">{{.TimeoutSeconds}}</td>
                <td class="text-center">{{.NumContacts}}</td>
              </tr>
            {{end}}
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
  {{template "_footer.gohtml"}}
</body>
</html>
