<!DOCTYPE html>
<html lang="en">
<head>
  {{template "_head.gohtml" .Title}}
</head>
<body role="document">
  {{template "_nav.gohtml" .Nav}}
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>Settings</h1>
        <h2>Site Details</h2>
        <div class="panel panel-default">
          <div class="panel-heading"><a href="/settings/sites/{{.Site.SiteID}}/edit" title="Edit Site"><span class="glyphicon glyphicon-edit"></a> &nbsp;&nbsp;<b>{{.Site.Name}}</b></div>
          <div class="row">
            <div class="col-sm-4"><b>URL</b></div>
            <div class="col-sm-6">{{.Site.URL}}</div>
          </div>
          <div class="row">
            <div class="col-sm-4"><b>Active?</b></div>
            <div class="col-sm-6">{{.Site.IsActive | displayBool}}</div>
          </div>
          <div class="row">
            <div class="col-sm-4"><b>Ping Rate (secs)</b></div>
            <div class="col-sm-6">{{.Site.PingIntervalSeconds}}</div>
          </div>
          <div class="row">
            <div class="col-sm-4"><b>Timeout (secs)</b></div>
            <div class="col-sm-6">{{.Site.TimeoutSeconds}}</div>
          </div>
          <div class="row">
            <div class="col-sm-4"><b>HTML Content Must Contain</b></div>
            <div class="col-sm-6">{{.Site.ContentExpected}}</div>
          </div>
          <div class="row">
            <div class="col-sm-4"><b>HTML Content Must Not Contain</b></div>
            <div class="col-sm-6">{{.Site.ContentUnexpected}}</div>
          </div>
        </div>
        <div class="table-responsive">
        <table class="table table-striped">
          <caption>Site Contacts</caption>
          <thead>
            <tr>
              <th class="col-md-1"></th>
              <th class="col-md-2">Name</th>
              <th class="col-md-3">Email</th>
              <th class="col-md-1 text-center">Email<br />Active?</th>
              <th class="col-md-2">Text Number</th>
              <th class="col-md-1 text-center">Text<br />Active?</th>
            </tr>
          </thead>
          <tbody>
            {{range .Contacts}}
              <tr>
                <td><a href="/settings/contacts/{{.ContactID}}/edit" title="Edit Contact"><span class="glyphicon glyphicon-edit"></span></a></td>
                <td>{{.Name}}</td>
                <td>{{.EmailAddress}}</td>
                <td class="text-center">{{.EmailActive | displayBool}}</td>
                <td>{{.SmsNumber}}</td>
                <td class="text-center">{{.SmsActive | displayBool}}</td>
              </tr>
            {{end}}
          </tbody>
        </table>
        </div>
        <p><a href="/settings" title="Back to Sites List"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back</a></p>
      </div>
    </div>
  </div>
  {{template "_footer.gohtml"}}
</body>
</html>
