<!DOCTYPE html>
<html lang="en">
<head>
  {{template "_head.gohtml" .Title}}
</head>
<body role="document">
  {{template "_nav.gohtml" .Nav}}
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>Settings</h1>
        <h2>Change Contacts Assigned to Site</h2>
        <p>Site: <b>{{.Site.Name}}</b></p>
        <form action="" method="post" id="change_contacts">
        <input type="hidden" name="siteID" value="{{.Site.SiteID}}">
        <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-md-1 text-center">Assigned?</th>
              <th class="col-md-2">Name</th>
              <th class="col-md-3">Email</th>
              <th class="col-md-1 text-center">Email<br />Active?</th>
              <th class="col-md-2">Text Number</th>
              <th class="col-md-1 text-center">Text<br />Active?</th>
            </tr>
          </thead>
          <tbody>
            {{range .AllContacts}}
              {{if .IsAssigned}}<input type="hidden" name="siteContacts" value="{{.ContactID}}"> {{end}}
              <tr>
                <td class="text-center"><input type="checkbox" name="selectedContacts" id="selectedContacts" value="{{.ContactID}}" {{if .IsAssigned}}checked{{end}}></td>
                <td>{{.Name}}</td>
                <td>{{.EmailAddress}}</td>
                <td class="text-center">{{if .EmailActive}}Y{{else}}N{{end}}</td>
                <td>{{.SmsNumber}}</td>
                <td class="text-center">{{if .SmsActive}}Y{{else}}N{{end}}</td>
              </tr>
            {{end}}
          </tbody>
        </table>
        </div>
        <button type="submit" class="btn btn-default">Submit Changes</button>
        </form>
      </div>
    </div>
  </div>
  {{template "_footer.gohtml"}}
</body>
</html>
